<div class="row paddingTop">
	<div class="col-md-12 text-center">
		<div class="alert alert-warning">
			<p><%= @resultado %></p>
			<!--<p>Parámetros: <%= params %></p>-->
		</div>
		
		<span class="blue"><h2>Actualmente tienes <%= current_profesionista.creditos %> créditos</h2></span>
	</div>
</div>