<div class="row top-buffer80 footerbck">
	<div class="col-md-4 col-md-push-1">
		<%= link_to "Política de privacidad |", inicio_politicas_path, :class=>"whitelinks" %>
		<%= link_to "Terminos y condiciones |", inicio_terminos_path, :class=>"whitelinks" %>
	</div>
	<div class="col-md-2 col-md-push-6 padingo">
		<a href="mailto:contacto@yonecesito.mx"><i class="fa fa-envelope fa-2x whitelinks"></i></a>&nbsp;&nbsp;&nbsp; 
		<a href="http://www.facebook.com/yoncesitomx" target="blank"><i class="fa fa-facebook fa-2x whitelinks"></i></a>&nbsp;&nbsp;&nbsp; 
		<a href="https://twitter.com/yonecesitoMX" target="blank"><i class="fa fa-twitter fa-2x whitelinks"></i></a>
	</div>
</div>