<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola <%= @nombre %></h1>
    <p>
      Has sido contratado para un servicio. Para verlo entra a tu cuenta en <strong>Yo Necesito</strong>
      <br>
    </p>
    <p>Felicidades!</p>
  </body>
</html>